$button_background: #484b6a;
$button_hover: #3d4056;

$main_color: #b9bacf;
$ligher_main: #d2d3db;
$chat_color: #e4e5f1;

$chat_button: #f4f5fe;
$chat_button_hover: #c2c4d2;

$bot_answer: rgb(187, 187, 212);
$user_msg: rgb(151, 151, 236);

$logout: rgb(232, 80, 80);
$logout_hover: rgb(222, 30, 30);
