@use "variables" as *;

#chat-menu {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
}

#chat-list {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  background-color: $ligher_main;
  border-right: 1px solid $main_color;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#user-img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

#user-div {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $main_color;
  padding: 10px;
  border-radius: 20px 20px 0 0;
}

#img-and-user {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

#user-div > select {
  padding: 5px;
  cursor: pointer;
  width: max-content;
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  font-weight: bold;
}

#user-div > select:hover {
  background-color: $chat_color;
}

.Available,
option[value="Available"] {
  color: green;
}

.Unavailable,
option[value="Unavailable"] {
  color: red;
}

.Be,
option[value="Be Right Back"] {
  color: rgb(176, 114, 0);
}

option:hover {
  background-color: $main_color;
}

#all-chats {
  overflow-y: auto;
}

.chat {
  cursor: pointer;
  height: max-content;
  width: 100%;
  border-radius: 10px;
  padding-bottom: 5px;
  position: relative;
  max-height: 310px;
}

.chatsmall {
  display: flex;
  max-width: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#all-chats .chatsmall p:first-child {
  max-width: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#buttons-chat.chatsmall {
  button {
    margin: 10px;
  }
  #time-button {
    font-size: x-small;
  }
}

#userShow {
  background-color: $main_color;
}

#userShow button {
  margin: 10px;
  font-size: x-small;
}

#user-div.small-user {
  position: absolute;
  bottom: 60px;
  left: 30px;
  width: max-content;
  padding: 20px;
  border-radius: 10px;
  z-index: 97;
}

.chatsmall .delete-chat {
  display: block;
  position: relative;
  top: auto;
  right: auto;
  margin: 0;
}

.chat:hover {
  background-color: $main_color;
}

.chat p:first-child {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  padding: 10px;
}

.chat p:nth-child(2) {
  padding-left: 5px;
  font-size: small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#buttons-chat {
  display: flex;
  justify-content: space-between;
}
.time-chat {
  font-weight: normal;
  font-size: small;
}

#new-chat,
#time-button {
  margin: 10px;
}

#logo,
#buttons-chat {
  background-color: $main_color;
}

#time-button:disabled {
  color: gray;
}

#log-out {
  margin: 0;
  background-color: $logout;
}
#log-out:hover {
  background-color: $logout_hover;
}

.delete-chat {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: x-small;
  background-color: $logout;
}

.delete-chat:hover {
  background-color: $logout_hover;
}

@media (max-width: 700px) {
  #chat-menu {
    grid-template-columns: 60px 1fr; /* sidebar schowany */
  }
}
