@use "variables" as *;

#chat-menu {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
}

#chat-list {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  background-color: $ligher_main;
  border-right: 1px solid $main_color;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#user-img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

#user-div {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $main_color;
  padding: 10px;
  border-radius: 20px 20px 0 0;
}

#img-and-user {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

#user-div > select {
  padding: 5px;
  cursor: pointer;
  width: max-content;
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  font-weight: bold;
}

#user-div > select:hover {
  background-color: $chat_color;
}

.Available,
option[value="Available"] {
  color: green;
}

.Unavailable,
option[value="Unavailable"] {
  color: red;
}

.Be,
option[value="Be Right Back"] {
  color: rgb(176, 114, 0);
}

option:hover {
  background-color: $main_color;
}

#all-chats {
  overflow-y: auto;
}

.chat {
  cursor: pointer;
  height: max-content;
  width: 100%;
  border-radius: 10px;
  padding-bottom: 5px;
  position: relative;
}

.chat:hover {
  background-color: $main_color;
}

.chat p:first-child {
  font-weight: bold;
  padding: 10px;
}

.chat p:nth-child(2) {
  padding-left: 5px;
  font-size: small;
}

#buttons-chat {
  display: flex;
  justify-content: space-between;
}
.time-chat {
  font-size: small;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(0, -50%);
}

#new-chat,
#time-button {
  margin: 10px;
}

#logo,
#buttons-chat {
  background-color: $main_color;
}

#time-button:disabled {
  color: gray;
}

#log-out {
  margin: 0;
  background-color: $logout;
}
#log-out:hover {
  background-color: $logout_hover;
}
