#chatroom {
  background-color: gray;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}

.chat-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
//-----------MAIN INPUT

#input-message {
  display: grid;
  grid-template-columns: 1fr auto auto;
}

#input-message button {
  margin: 0;
}

#send-button:hover,
#emoji-button:hover {
  background-color: rgb(165, 165, 165);
}

#send-button,
#emoji-button,
#input-message,
#input-message input {
  background-color: white;
  border: none;
}

//-------------MESSAGES
.user-message {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.user-message .message {
  background-color: bisque;
  border-radius: 20px 20px 0 20px;
}

.time,
.username {
  margin: 10px 0 10px 0;
}

.message-div {
  padding: 5px;
  padding-bottom: 20px;
  position: relative;
}

.message {
  width: max-content;
  max-width: 200px;
  padding: 20px;
  background-color: white;
  border-radius: 20px 20px 20px 0;
}

.edit-msg {
  font-size: small;
  font-style: italic;
}
.user-message .time {
  left: auto;
  right: 5px;
}

.time {
  color: rgb(58, 58, 58);
  font-size: x-small;
  position: absolute;
  bottom: -5px;
  left: 5px;
}

.message-username {
  color: rgb(58, 58, 58);
  position: absolute;
  top: -15px;
  left: 5px;
}

.user-message .message-username {
  left: auto;
  right: 5px;
}

.edit-button {
  margin: 0;
  height: min-content;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
}
