@use "variables" as *;

#chatroom {
  background-color: $chat_color;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}

.chat-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
//-----------MAIN INPUT
#input-message input {
  padding: 0 10px 0 10px;
}

#input-message {
  display: grid;
  grid-template-columns: 1fr auto auto;
  height: 40px;
}

#input-message button {
  margin: 0;
}

#send-button:hover,
#emoji-button:hover {
  background-color: $chat_button_hover;
}

#send-button,
#emoji-button {
  padding: 10px;
}

#send-button,
#emoji-button,
#input-message,
#input-message input {
  background-color: $chat_button;
  border: none;
}

//-------------MESSAGES
.user-message {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.user-message .message {
  background-color: $user_msg;
  border-radius: 20px 20px 0 20px;
}

.time,
.username {
  margin: 10px 0 10px 0;
}

.message-div {
  padding: 5px;
  padding-bottom: 20px;
  position: relative;
}

.message {
  width: fit-content;
  max-width: 300px;
  padding: 20px;
  background-color: $bot_answer;
  border-radius: 20px 20px 20px 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.edit-msg {
  font-size: small;
  font-style: italic;
}
.user-message .time {
  left: auto;
  right: 5px;
}

.time {
  color: rgb(58, 58, 58);
  font-size: x-small;
  position: absolute;
  bottom: -5px;
  left: 5px;
}

.message-username {
  color: rgb(58, 58, 58);
  position: absolute;
  top: -15px;
  left: 5px;
}

.user-message .message-username {
  left: auto;
  right: 5px;
}

.edit-button,
#cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  height: min-content;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
}

.edit-button:hover,
#cancel:hover {
  background-color: $chat_button_hover;
}

#edit-emoji-button {
  margin-top: 10px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
}

#edit-emoji-button:hover {
  background-color: #c2c4d2;
}

#edit-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
