@use "variables" as *;
//globals + toasts
* {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  padding: 5px;
  background-color: $button_background;
  color: white;
  border-radius: 5px;
}
button:hover {
  background-color: $button_hover;
}

body {
  width: 100vw;
  height: 100vh;
}

#loading {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#loading-pic {
  animation: pulse 1.2s ease-in-out infinite alternate;
}

.toast-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
  position: fixed;
  right: 20px;
  top: 20px;
  height: max-content;
}

.toast {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #333;
  animation: toast-in 0.3s ease forwards;
}

.toast.hide {
  animation: toast-out 0.3s ease forwards;
}

.toast-close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: none;
  background-color: #333;
  color: white;
  margin-left: auto;
}

.toast.success {
  background-color: rgb(91, 227, 91);
}

.toast.error {
  background-color: red;
}

.toast.warning {
  background-color: yellow;
}

.toast.info {
  background-color: lightblue;
}

@keyframes toast-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes toast-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.6;
  }
  to {
    transform: scale(1.5);
    opacity: 1;
  }
}
