@use "variables" as *;

* {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  padding: 5px;
  background-color: $button_background;
  color: white;
  border-radius: 5px;
}
button:hover {
  background-color: $button_hover;
}

body {
  width: 100vw;
  height: 100vh;
}

#loading {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#loading-pic {
  animation: pulse 1.2s ease-in-out infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 0.6;
  }
  to {
    transform: scale(1.5);
    opacity: 1;
  }
}
